<!DOCTYPE html>
<html>
<head>
    <title>Diamond Data Visualization</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
</head>
<body>
    <h1>Diamonds</h1>
    <div id="canvas" style="width: 80vh; height: 60vh;"></div>
    
    <!-- Bootstrap Bundle (Includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
        crossorigin="anonymous"></script>
    
    <!-- Your custom JS file as an ES6 module -->
    <script type="module" src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
